<HR>
<P>
Red arrows show the power distribution. Black arrows show control and
data signals. A black arrow coming out of a red line indicates a probe
input that draws only insignificant power.
<BR>
Dashed lines indicate components that are intended for R&amp;D use and
that may not be present in production devices.
<BR>
If a part is shown with a light blue background, the part used in the
prototypes so far does not reflect the final choice.
